@model ArtShare.Models.RegisterModel

@{
    ViewBag.Title = "Create Account";
}

<h2>Create Account</h2>

<form class="pure-form pure-form-stacked" method="post">
    <fieldset>
        <legend>To enjoy full access, please create an account.</legend>

        @Html.TextBoxFor(m => m.Username, new { placeholder="Username", required="true", maxlength="20" })
        @Html.PasswordFor(m => m.Password, new { placeholder="Password", required="true", maxlength="50" })
        @Html.PasswordFor(m => m.RetypePassword, new { placeholder = "Retype password", required = "true", maxlength = "50" })
        
        <div style="margin-top: 30px; clear: both"></div> <!-- Spacer -->
        

        <!--<input type="text" placeholder="Firstname"/>
        <input type="text" placeholder="Lastname"/>
        <input type="email" placeholder="Email"/>
        <input type="text" placeholder="Location"/>-->

        <button type="submit" class="pure-button button-success">Create Account</button>
        <small>@Html.ActionLink("Already a user", "Index", "Login")</small>
    </fieldset>
</form>