@{
    ViewBag.Title = "Index";
}



<div class="is-center upload">
    <h2>Upload Files</h2>
    <div class="col-md-4"><button class="btn btn-default" onclick="window.location.href='Upload/Movie'"><span class="glyphicon glyphicon-film"></span></button></div>
    <div class="col-md-4"><button class="btn btn-default" onclick="window.location.href='Upload/Music'"><span class="glyphicon glyphicon-music"></span></button></div>
    <div class="col-md-4"><button class="btn btn-default" onclick="window.location.href='Upload/Book'"><span class="glyphicon glyphicon-book"></span></button></div>
</div>