@model ArtShare.Models.SearchModel
@{
    ViewBag.Title = "Index";
}

<div class="is-center page-header">
    <h1>ARTSHARE</h1>
</div>

<div class="featured">
    <div class="well featured_container is-center">

        @if (Model.Movies != null)
        {
            foreach (var m in Model.Movies)
            {
                <a href="/Details/@m.ProductId"><img src="@m.Thumbnail" draggable="false" width="200" /></a>
            }
        }
        
    </div>

    <div class="well featured_container is-center">

        @if (Model.Music != null)
        {
            foreach (var m in Model.Music)
            {
                <img src="@m.Thumbnail" draggable="false" width="200"/>
            }
        }

    </div>

    <div class="well featured_container is-center">

        @if (Model.Books != null)
        {
            foreach (var m in Model.Books)
            {
                <img src="@m.Thumbnail" draggable="false" width="200" />
            }
        }

    </div>
</div>
