
@{
    ViewBag.Title = "Index";
}

<div class="is-center">
    <div class="featured">
        <div class="category">
            <h2>Movies</h2>
            <div class="pure-g-r">

                <div class="pure-u-1-2">
                    <p class="title">Title</p>
                    <p class="img_thumbnail">&nbsp;</p>
                    <p class="description">Descriptive Text</p>
                </div>
                <div class="pure-u-1-2">
                    <p class="title">Title</p>
                    <p class="img_thumbnail">&nbsp;</p>
                    <p class="description">Descriptive Text</p>
                </div>

            </div>
        </div>

        <div class="category">
            <h2>Books</h2>
            <div class="pure-g-r">

                <div class="pure-u-1-3">

                </div>
                <div class="pure-u-1-3">

                </div>
                <div class="pure-u-1-3">

                </div>

            </div>
        </div>

        <div class="category">
            <h2>Music</h2>
            <div class="pure-g-r">

                <div class="pure-u-1-3">

                </div>
                <div class="pure-u-1-3">

                </div>
                <div class="pure-u-1-3">

                </div>

            </div>
        </div>

    </div>

</div>


