
@{
    ViewBag.Title = "Index";
}

<div class="is-center">
    <div class="featured">
        <div class="category">
            <div class="category-title"><h2>Movies</h2><small>Showing 3 of 100</small></div>

                <div class="category-content">
                    <div class="pure-g-r">

                        <div class="pure-u-1-2 media-box">
                            <div class="info">
                                <p class="title" title="The Dark Knight Rises">The Dark Knight Rises</p>
                                <small class="uploader">Uploaded by @Html.ActionLink("9cki", "#")</small>
                            </div>
                            <div class="img_thumbnail"><img src="~/Content/img/thumbnail_01.jpg" /></div>
                            <div class="description">The Dark Knight Rises is a 2012 British-American epic superhero film directed by Christopher Nolan, who co-wrote the screenplay with his brother Jonathan Nolan and the story with David S. Goyer. Featuring the DC Comics character Batman, the film is the final installment in Nolan's Batman film trilogy, and it is the sequel to Batman Begins (2005) and The Dark Knight (2008).</div>
                            <button class="pure-button button-art read-more">Read more</button>
                            <p class="rating">0 / 10</p>
                        </div>
                        
                        <div class="pure-u-1-2 media-box">
                            <div class="info">
                                <p class="title" title="The Lego Movie">The Lego Movie</p>
                                <small class="uploader">Uploaded by @Html.ActionLink("9cki", "#")</small>
                            </div>
                            <div class="img_thumbnail"><img src="~/Content/img/thumbnail_02.jpg" /></div>
                            <div class="description">This original 3D computer animated story follows Emmet, an ordinary, rules-following, perfectly average LEGO minifigure who is mistakenly identified as the most extraordinary person and the key to saving the world. He is drafted into a fellowship of strangers on an epic quest to stop an evil tyrant, a journey for which Emmet is hopelessly and hilariously underprepared.</div>
                            <button class="pure-button button-art read-more">Read more</button>
                            <p class="rating">0 / 10</p>
                        </div>

                        <div class="pure-u-1-2 media-box">
                            <div class="info">
                                <p class="title" title="The Hobbit: The Desolation of Smaug">The Hobbit: The Desolation of Smaug</p>
                                <small class="uploader">Uploaded by @Html.ActionLink("9cki", "#")</small>
                            </div>
                            <div class="img_thumbnail"><img src="~/Content/img/thumbnail_03.jpg" /></div>
                            <div class="description">The second in a trilogy of films adapting the enduringly popular masterpiece The Hobbit, by J.R.R. Tolkien, this film continues the adventures of the title character Bilbo Baggins as he journeys with the Wizard Gandalf and thirteen Dwarves, led by Thorin Oakenshield on an epic quest to reclaim the lost Dwarf Kingdom of Erebor.</div>
                            <button class="pure-button button-art read-more">Read more</button>
                            <p class="rating">0 / 10</p>
                        </div>


                    </div>
                </div>
            </div>
    </div>            
</div>


