@model ArtShare.Models.SearchModel

@{
    ViewBag.Title = "Movies";
}

<section class="Collage effect-parent">
    @if (Model.Movies != null)
    {
        foreach (var m in Model.Movies)
        {
            <div class="Image_Wrapper" data-caption="@m.Title" onclick="window.location.href = '/Details/@m.ProductId'" style="cursor:pointer">
                <img src="@m.Thumbnail">
            </div>
        }
    }

</section>