@font-face {
 font-family: 'Bebas';
  src: url(/Content/fonts/Bebas.otf);
}

/* General Layout */

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

p, pre{
    margin:1em 0;
}

#container {
   min-height:100%;
   position:relative;
}

.content-wrapper{
	width: 80%;
	margin: auto;
	position: relative;
	padding-top: 100px;
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

.pure-menu a:hover{
    text-decoration: none;
}

/* Header */
header{
	position: fixed;
	top: 0;
	height: 75px;
	background-color: #2f2f2f;
	width: 100%;
	color: #d7d7d7;
	padding-left: 20px;
	padding-right: 20px;	
    z-index: 999;
}

.logo-header {
    width: 40px;
    height: 40px;
    margin-top: -15px;
}

.search{
    position: relative;
    outline: none;
}

.search form{
    display: inline;
}

.search input[type="text"] {
    background: #fcfcfc;
    background-size: 20px;
    border: 0 none;
    font-size: 14px;
    color: #888;
    width:175px;
    padding: 6px 35px 6px 10px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
}

.search input[type="text"]:focus {
    border: 0 none;
    color: #2f2f2f;
    width: 300px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    outline: none;
}

.search-button{
    position: absolute;
    background: url(img/search_black.png) no-repeat;
    background-size: 20px;
    border: 0 none;
    width: 25px;
    height: 25px;
    top: -1px;
    right: 2px;
    outline: none;
}

#error-box{
    z-index: 10;
}


/* Navbar */

header nav{
	float: right;
	padding-top:20px;
	width: 95%;
    margin: auto;
}

header nav ul{
	list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li div{
	display: inline;
}

/* Bootstap navbar overwrites */
.navbar-nav{
    margin-top: -5px;
}

.navbar-right{
    margin-top: 0px;
}

.navbar-inverse {
    background-color: inherit;
    border: 0px;
}

.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #fff;
    background-color: transparent;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
border-color: transparent;
border: 0px;
}

.navbar-right button{
    margin-right: 5px;
}

.navbar-right .search{
    margin-right: 5px;
}


/* Featured */
.category {
    margin-bottom: 60px;
    padding-bottom: 20px;
    text-align: left;
}

.category-title{
    float:left;
    padding:20px;
    border-right: 1px solid #888;
}

.category-title h2{
    color: #CA4957;
}

.category-title small{
    position:absolute;
    margin-top: -10px;
    font-size:11px;
    color: #444;
}

.category-content{
    margin-left: 200px;
}

/*.featured-container{
    margin-bottom: 20px;
}

.image-container{
    width: 100%;
    height: 159px;
    overflow: hidden;
}*/

/*.featured-container img{
    height: 200px;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.featured-container img:hover{
    height: 200px;
    opacity: 0.5;
}

@media (max-width: 992px){
    .featured-container img{
        height: auto;
        width: 100%;
    }
}*/

/* Media */
.media-box{
    margin-right: 15px;
    margin-bottom:10px;
    margin-top: 5px;
    font-size: 11px;
    position: relative;
    background-color: white;
    padding: 9px 11px;
    background: rgba(255, 255, 255, 0.9);
    border: 1px solid #c5c5c5;
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    height: 250px;
}

.media-box .info{
    padding-bottom: 5px;
    margin-bottom: 12px;
    border-bottom: 1px solid #dcdbda;
    height:30px;
}

.media-box .info .title {
    text-transform: uppercase;
    color: #666;
    font-size: 1.2em; 
    float: left;
    width:70%;
    overflow:hidden;
    height:18px;
}

.media-box .info .uploader{
    float: right;
    font-size: 9px;
    padding-top:15px;
}

.media-box .img_thumbnail{
    float: left;
    width: 35%;
}

.media-box .description { 
    padding-bottom: 25px;
    margin-bottom: 10px; 
    font-size: 1.1em; 
    color: #222; 
    overflow: hidden;
    float:left;
    width: 60%;
    padding-left: 10px;
    height: 60%; /* 60% for 1-2, 55% for 1-3, 45% for 1-4*/
}

.media-box .read-more{
    float: right;
    margin-left: 20px;
}

.media-box .rating{
    float: right;
    font-size: 120%;
    margin-top: 5px;
}

/* Details */

.media-details {

}

.media-details img{
    width: 100%;
    margin-bottom: 10px;
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 0 rgba(0, 0, 0, 0.9) inset;
}

.media-details .genre{
    background-color: #888;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.info-box{
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    margin-bottom: 10px;
}

.detail-buttons{
    padding-top: 30px;
    font-size: 14px;
}

.detail-buttons button{
    margin-right: 10px;
}

.col-md-4 {
    overflow: hidden;
}

/* Search */
.search-table{

}

.search-table tr td {
    text-align: left;
    
}

.search-table tr td span{
    display: inline;
}

.search-table tr:hover {
    cursor: pointer;
}

.search-results{
    height: 400px;
}

.search-results .img-container{
    height: 100%;
    width: 40%;
    margin-right: 10px;
}

.search-results img{
    width: 100%;
    
}

.search-results .read-more{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Upload */

.upload span{
    font-size: 5em;
}

.upload div{
    height: 150px;
}

.upload button{
    width: 100%;
    height: 100%;
}

/* Footer */

footer{
    position: absolute;
	bottom: 0;
	height: 60px;
	background-color: #2f2f2f;
	width: 100%;
	color: #d7d7d7;
}

/* Collage */
.Collage{

    /*This is where you set the padding you want between the images*/
    padding:10px;

}
.Collage img{
    margin:0;
    padding:0;
    display:inline-block;
    vertical-align:bottom;
    opacity:1;

    /*This is where you set the border you want for the image*/
    border:6px solid #FFF;
}


/* In this example, this is the main item being resized */
.Image_Wrapper{
    /* to get the fade in effect, set opacity to 0 on the first element within the gallery area */
    opacity:0;
    -moz-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    box-shadow:0px 2px 4px rgba(0, 0, 0, 0.1);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

.Caption{
    font-size:14px;
    font-weight:normal;
    top: 0;
}
.Caption_Content{
    /* padding:10px; */
    color:#FFF;
    padding:20px;
}



/* Auxillary classes */

.is-center{ text-align: center; }
.is-left{ text-align: left;}
.to-left { float: left; }
.to-right { float: right; }
.to-bottom { bottom: 0; }



/* Rating */
.star-rating {
  font-size: 0;
  white-space: nowrap;
  display: inline-block;
  width: 150px;
  height: 15px;
  overflow: hidden;
  position: relative;
  background: url('/Content/img/star_empty.svg');
  background-size: 15px;
}
.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10%;
  z-index: 1;
  background: url('/Content/img/star.svg');
  background-size: 15px;
}
.star-rating span {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 10%;
  z-index: 3;
  background: url('/Content/img/star_blue.svg');
  background-size: 15px;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  display: inline-block;
  width: 10%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}
.star-rating input:hover + i,
.star-rating input:checked + i {
  opacity: 1;
}

.star-rating input:active{
    background: url('/Content/img/star_blue.svg');
}
.star-rating i ~ i {
  width: 20%;
}
.star-rating i ~ i ~ i {
  width: 30%;
}
.star-rating i ~ i ~ i ~ i {
  width: 40%;
}
.star-rating i ~ i ~ i ~ i ~ i {
  width: 50%;
}
.star-rating i ~ i ~ i ~ i ~ i ~ i {
  width: 60%;
}
.star-rating i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 70%;
}
.star-rating i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 80%;
}
.star-rating i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 90%;
}
.star-rating i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i ~ i {
  width: 100%;
}
.choice {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 20px;
  display: block;
}


/* Purecss.io rewrites */

.pure-g-r [class *="pure-u"] {
    font-family: helvetica;
}

.category .pure-u-1-2{
    width: 45%;
}

.category .pure-u-1-3{
    width: 28%;
}

.category .pure-u-1-4{
    width: 20%;
}

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}

.button-art{
	background: #CA4957; /* This is art-share red */
	color: #fff;
}

.button-xsmall {
    font-size: 70%;
}

.button-small {
    font-size: 90%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

.pure-menu.pure-menu-open {
    padding-top: 15px;
    width: auto;
}

.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children {
    background: none repeat scroll 0 0 #2f2f2f;
    border: 0px;
    float: left;
}

.pure-menu a, .pure-menu .pure-menu-can-have-children > li:after {
    color: #fff;
}

.pure-menu .pure-menu-selected a {
    color: #fff;
    text-decoration: underline;
}

.pure-menu li a:hover, .pure-menu li a:focus {
    background: none repeat scroll 0 0 #ca4957;
}

/* BOOTSTRAP ALERT */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #2b542c;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #245269;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-warning hr {
  border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
  color: #66512c;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert-danger hr {
  border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
  color: #843534;
}

/* BOOTSTRAP BUTTONS */
.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.btn-info {
  color: #fff;
  background-color: #5bc0de;
  border-color: #46b8da;
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
}

.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}

/* BOOTSTRAP OVERWRITES */

.form-control{
    display:initial;
}