<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    
    <!-- COPY PASTE -->

    <bindings>
      <basicHttpBinding>
        <binding name="TransferServiceBinding"
          maxReceivedMessageSize="2147483647"
          maxBufferSize="2147483647"
          transferMode="Streamed"
          messageEncoding="Mtom"
          sendTimeout="00:10:00"
          receiveTimeout="00:10:00"
          closeTimeout="00:10:00"
          openTimeout="00:10:00">
          <readerQuotas
            maxDepth="2147483647"
            maxStringContentLength="2147483647"
            maxArrayLength="2147483647"
            maxBytesPerRead="2147483647"
            maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="ShareIt.AuthService">
        <endpoint address="" binding="basicHttpBinding" contract="ShareItServices.IAuthService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ShareItServices/AuthService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ShareIt.AccessRightCRUD">
        <endpoint address="" binding="basicHttpBinding" contract="ShareItServices.IAccessRightCRUD">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ShareItServices/AccessRightCRUD/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ShareIt.TransferService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="TransferServiceBinding"
          contract="ShareIt.ITransferService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ShareItServices/TransferService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="ShareIt.UserService">
        <endpoint binding="basicHttpBinding" bindingConfiguration=""
          bindingName="UserServiceBinding" contract="ShareItServices.IUserService" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/ShareItServices/UserService/"/>
          </baseAddresses>
        </host>
      </service>

    </services>    
    <!-- End of copy paste-->
    
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
